*.class
*/target
target

*.log

dependency-reduced-pom.xml

# IntelliJ IDE
/.idea
*.iml
*.ipr
*.iws

# Packaging 
*.jar
*.war
*.ear

# macOS
*.DS_Store

# Eclipse
*.project
*.settings
*.classpath

provider/bin
